.container {
  color: rgb(74, 74, 74);
  display: block;
  font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-size: 16px;
  height: 90px;
  line-height: 22px;
  margin-bottom: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 24px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  visibility: visible;
}

.text {
  color: rgb(74, 74, 74);
  display: block;
  font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-size: 16px;
  height: 75px;
  line-height: 22px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-height: none;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  visibility: visible;
  width: 369.672px;
}