.header {
  width: 763.328px;
  border-bottom: 1px solid rgb(229, 229, 229);
  display: block;
}

.h2 {
  font-family: Arial, Tahoma, 'Bitstream Vera Sans', sans-serif;
  color: #000a12;
  font-size: 28px;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 18px;
}
