.photo {
  color: rgb(44, 44, 44);
  cursor: pointer;
  display: block;
  flex-basis: calc(14.2757% + -2px);
  flex-shrink: 1;
  font-family: Arial, Tahoma, 'Bitstream Vera Sans', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  width: 51.0469px;
}

.image:hover {
  filter: brightness(100%) !important;
}
