.overall {
  color: rgb(7, 129, 113);
  display: flex;
  font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  line-height: 22px;
  margin-bottom: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 32px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 369.672px;
}

.number {
  align-self: center;
  color: rgb(7, 129, 113);
  display: block;
  font-family: Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  height: 22px;
  line-height: 22px;
  margin-right: 8px;
  visibility: visible;
  width: 66.7344px;
}

.text {
  display: block;
  font-family:Arial, Tahoma, "Bitstream Vera Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  height: 40px;
  line-height: 21.6px;
  width: 1891.391px;
}